body{
   width: 100%;
   /*height: 4975px;*/
   background: #FFFFFF;
   position:relative;
   /*align-items: center;*/
   align-content: center;
   margin: 0 auto;
   max-width: 1600px;
}
h1{
  text-align: center ;
  margin-top: 5%;
  
}
header {
   position: sticky;
   top: 0;
}
.book{
   display: flex;
   flex-direction: row;
   margin-top: 5%;
}
.book-catalog{
   display: flex;
   flex-direction: column;
   
}
.book-author{
   cursor: pointer;
}
.book-title{
   font-weight: bold;
   cursor: pointer;
}
.book-img{
   width: 20%;
   height:auto;
   margin-left: 5%;
   cursor: pointer;
}
.book-catalog-rcolumn{
   margin-left: 10%;
}
.book-price{
   cursor: pointer;
}
.book-desc{



}
.addToBag-btn, #submit-btn, #checkout-btn{
   color: white;
   background-color: lightblue;
   margin-top: 3%;
   border-radius: 10px;
   width: 100px;
   font-size: medium;
   border-color: lightblue;

}
.book-form{

}
.delivery-form{
margin-left: 5%;
display: flex;
flex-direction: column;
}
.delivery-form-part{
  /* margin-top: 1%;*/
 
  margin-bottom: 0px;
}
h2{
   font-weight: bold;
}
#delivery-adress{
   display: flex;
   flex-direction: column;
   width: 30%;
   
}
#house, #flat, #date {
   width: 20%;
   
}
.delivery-form-item{
   margin-top: 2%;
}
#name, #surname, #street{
   width: 100%;
   min-width: 100px;
}
#payment-options{
   display: flex;
   flex-direction: column;
   
}
.payment-option{
   display: flex;
   flex-direction: row;
   margin-top: 1%;
}
#gift-options{
   display: flex;
   flex-direction: column;
}
.gift-option{
   display: flex;
   flex-direction: row;
   margin-top: 1%;
}

.book-desc{
   /*width: 70%;*/
 text-align: center;
 margin-left: 5%;
 margin-right: 5%;
}

.main-menu{
   display: flex;
   flex-direction: row;
   background-color: lightblue;
   min-height: 80px;
   align-items: center;


}

.main_menu-first_element{

   margin-left: 5%;
   list-style-type: none;  

}

.main_menu-element{
   margin-left: 5%;
   list-style-type: none;  
}
.main_menu-cart{
   margin-right: 5%;
   margin-left: auto;
   list-style-type: none;  
}
.main_menu-first_element a,
.main_menu-element a,
.main_menu-cart a {
    align-items: center;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 140%;
   color: black;
   width: 100%;
}
#cart-wrapper{
   display: grid;
   grid-template-columns: 40% 20% 20% 20%;
  
   grid-row-gap: 1%;
   grid-column-gap: 1%;
   margin-left: 5%;
   
}
.cart-item{
   display: flex;
   flex-direction: row;
  
}
.cart-item-title{
   
}
.cart-item-count{
   margin-right: 50%;
   margin-left: auto;

}
.cart-item-price{
   margin-right: 30%;
   margin-left: auto;
}
.cart-item-total-price{
   margin-right: 20%;
   margin-left: auto;
}
#total-items-price, 
#total-title, 
#total-items-count{

   font-size: large;
   font-weight: 700;
}
.total-wrapper{
   display: flex;
   flex-direction: row;

}
#checkout-btn{
   margin-left: 40%;
}
#cart-item-title-header, 
#cart-item-count-header,
#cart-item-price-header,
#cart-item-total-price-header{

   font-size: larger;
   font-weight: 700;
}